@use "global" as *;

.news-card {
  border: 2px solid #268582;
  border-radius: 16px;
  background: $color-bg-base;
  display: block;
}

.news-card__body {
  padding: 16px;
  display: flex;
  align-items: center;
  flex: 1;
  
  @media screen and (min-width: 1300px) {
      padding: 32px 22px 22px;    
  }
}

.news-card__date {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0.94444%;
  flex: 0 1 3.09722%;
}

.news-card__month {
  font-family: $font-family-english;
  font-size: rem(15.89);
  font-weight: 500;
  letter-spacing: 0.055em;
  line-height: 1;
  color: #ea5413;
}

.news-card__day {
  font-family: $font-family-english;
  font-size: rem(52);
  font-weight: 700;
  letter-spacing: 0.055em;
  line-height: 1;
  color: #ea5413;
}

.news-card__year {
  font-family: $font-family-english;
  font-size: rem(20);
  font-weight: 500;
  letter-spacing: 0.055em;
  line-height: 1;
  color: #ea5413;
}

.news-card__text {
  text-align: justify;
  color: #333333;
} 